<h3><%= @restaurant.name %></h3>

<h5>Address: <%= @restaurant.address %></h5>

<p>Tele: <%= @restaurant.phone_number %></p>

<p><%= link_to "Back to list", restaurants_path %></p>
<p><%= link_to "Edit details", edit_restaurant_path(@restaurant) %></p>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>

<h5>Reviews:</h5>
<ul>
  <% @restaurant.reviews.each do |r| %>
    <li><%= r.content %><br>
    <strong>Rating:<%= r.rating %>/5</strong></li>
  <% end %>
</ul>

